*{
    font-family: 'Rock Salt', cursive;
    letter-spacing: 2px;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: crimson;
}
header{
    display: flex;
    justify-content: center;
    height: 200px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 900px;
    align-items: center;
    text-transform: uppercase;   
}
.title_name{
    display: flex;
    align-items: center;
}
.resume{
    display: flex;
    align-items: center;  
}
.title_name h1{
    color: #fff;
}
.resume h2{
    font-size: 12px;
    color: #fff;
}
.header_line{
    width: 100%;
    height: 2px;
    background-color: #36a9e1;
}
#banner{
    display: flex;
    justify-content: center;
}
.img_stan{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.img_stan div{
    width: 400px;
    font-size: 12px;
    background-color: #36a9e1;
    color: #fff;
    margin-top: 2px;
    text-align: center;
}
.img_stan img{
    width: 400px;
    height: 550px;
}
.banner_hist div{
    margin-top: 30px;
    margin-bottom: 60px;
    color: #fff;
    font-size: 10px;
    text-align: center;
}
#time_line{
    display: flex;
    justify-content: center;
}
#time_line .container{
    flex-direction: row;
}
.title_tl{
    margin-top: 20px;
    margin-bottom: 30px;
    color: #fff;
}
.title_bar{
    width: 240px;
    height: 2px;
    margin-top: 10px;
    background-color: #36a9e1;
}
.tl_stan ul li{
    color: #fff;
    padding: 15px;
    border-bottom: 1px solid #36a9e1;
    font-size: 10px;
    text-align: center;
}
.tl_stan ul div{
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 20px;
}
footer{
    display: flex;
    justify-content: center;
    background-color: #36a9e1;
    height: 200px;
}
.flexColumn{
    display: flex;
    flex-direction: column;
}
footer .footer_info{
    padding: 50px;
    font-size: 10px;
    color: #fff;
    text-align: center;
}
footer .footer_info a{
    text-decoration: none;
}
.footer_copy i{
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
    background-color: #36a9e1;
    
 }
 .footer_copy i a{
    text-decoration: none;
 }